.navigation {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;

    &__checkbox {
      display: none;
    }

    &__button {
      background-color: $color-white;
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      position: fixed;
      top:6rem;
      right: 6rem;
      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba($color-black, .1);
      text-align: center;
      cursor: pointer;
      transition: background-color .5s;
    }

    &__background {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 6.5rem;
      right: 6.5rem;
      background-image: radial-gradient(rgba($color-primary-light, .95), rgba($color-primary-dark, .9));
      z-index: 1800;

      // easings.net will give cubic-bezier values
      -moz-transition: all .5s cubic-bezier(.5, 0, .07, 1);
      -webkit-transition: all .5s cubic-bezier(.5, 0, .07, 1);
      transition: all .3s cubic-bezier(.5, 0, .07, 1);
    }

    &__nav {
      height: 100vh;
      // width: 100%;
      position: fixed;
      top: 6.5rem;
      right: 6.5rem;
      opacity: 0;
      width: 0;
      transform: translate(50%, -50%);
      z-index: 1900;
      -moz-transition:  all .3s cubic-bezier(.5, 0, .07, 1);
      -webkit-transition:  all .3s cubic-bezier(.5, 0, .07, 1);
      transition:  all .3s cubic-bezier(.5, 0, .07, 1);
    }

    &__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      width: 100%;
    }

    &__item {
      margin: 1rem;
    }

    &__link {

      &:link,
      &:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgba($color-white,.9) 50%);
        background-size: 250%;
        transition: all .5s;
      }

      &:hover,
      &:active {
        background-position: 100%;
        color: $color-primary;
        transform: translateX(1.5rem);
      }
    }

    &__checkbox:checked ~ &__background {
      transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
      opacity: 1;
      width: 100%;
      transform: translate(6.5rem, -6.5rem);
    }

    // ICON
    &__icon {
      position: relative;
      margin-top: 3.5rem;

      &,
      &::before,
      &::after {
        display: inline-block;
        width: 3rem;
        height: 2px;
        background-color: $color-grey-dark-3;
        transition: all .5s;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }

      &::before{top: -.8rem;}
      &::after {top: .8rem;}
    }

    &__button:hover &__icon::before {
      top: -1rem;
    }

    &__button:hover &__icon::after {
      top: 1rem;
    }

    &__checkbox:checked + &__button {
      // background-color: rgba($color-black, .5);
      background-color: transparent;
      box-shadow: none;
    }

    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before {
      background-color: $color-white;
      height: 4px;
      width: 5rem;
      top: -.2rem;
      left: -1rem;
      transform: rotate(225deg);
    }
    &__checkbox:checked + &__button &__icon::after {
      height: 4px;
      width: 5rem;
      background-color: $color-white;
      top: -.2rem;
      left: -1rem;
      transform: rotate(-225deg);
    }

}
