@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    -moz-transform: translateX(-10rem);
    -o-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }

  50% {
    -webkit-transform: translate(.5rem);
    -moz-transform: translate(.5rem);
    -o-transform: translate(.5rem);
    transform: translate(.5rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    -moz-transform: translateX(10rem);
    -o-transform: translateX(10rem);
    transform: translateX(10rem);
  }

  50% {
    -webkit-transform: translate(-.5rem);
    -moz-transform: translate(-.5rem);
    -o-transform: translate(-.5rem);
    transform: translate(-.5rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
    -moz-transform: translateY(3rem);
    -o-transform: translateY(3rem);
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
  }
}
